div {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: linear-gradient(#0194e1, #001c2a)
}

#floors {
	margin-top: 150px;
	text-align: center;
}

h2 {
	margin-top: 15px;
}