html {
	min-height: 100%;
}

body {
	background: linear-gradient(#0194e1, #001c2a);
}

#floors {
	margin-top: 150px;
	text-align: center;
	width: 100%;
	height: 100%;
}

h2 {
	margin-top: 15px;
}